
{{> nav }}

 <main class="flex" id="content">
  <div class="row">
    <div class="medium-8 columns">
      <br>
      <br>
      <br>
      <br>
      <p><strong> Welcome {{firstName}}, when you click a button the timer will start for your choice. Review your stats for each in your profile. </strong></p>
      <hr/>
      <div class="row">
        <div class="column column-block">
         <button class="button button-rounded-hover" id="b1"> WORK </button>
        </div>
        <div class="column column-block"></div>
         <button class="button button-rounded-hover" id="b2"> SLEEP </button>
        </div>
        <div class="column column-block">
         <button class="button button-rounded-hover" id="b3"> PLAY </button>
        </div>
          <div class="column column-block">
          <button class="button button-rounded-hover" id="b4"> STOP TIME </button>
         </div>
      </div>
    </div>
  </div>   
 </main>
 <footer class="footer">
    <div class="clearfix"> 
      <button class="hollow button alert" href="#" id="logout">LOGOUT</button> 
      <div class="cell small-4" id="time"><strong>Time Elapsed:    </strong></div>
    </div>
 </footer>
