{{> nav }}
<main class="flex" id="content">
  <div class="row">
    <div class="medium-8 columns text-center">
      <br>
      <br>
      <br>

      {{!-- Body --}}
      <p><strong>Click a button below to begin tracking your day.</strong></p>
      <hr />
      <div class="row">

        {{!-- Work Button --}}
        <div class="column column-block">
          <button class="button button-rounded-hover" id="work-button"><i class="far fa-chart-bar"></i> WORK </button>
        </div>

        {{!-- Sleep Button --}}
        <div class="column column-block"></div>
        <button class="button button-rounded-hover" id="sleep-button"><i class="fas fa-moon"></i> SLEEP </button>
      </div>

      {{!-- Play Button --}}
      <div class="column column-block">
        <button class="button button-rounded-hover" id="play-button"><i class="fas fa-dice"></i> PLAY </button>
      </div>

      {{!-- Stop Button --}}
      <div class="column column-block">
        <button class="button button-rounded-hover" id="stop-button"><i class="fas fa-hand-paper"></i> STOP TIME </button>
      </div>
    </div>
  </div>
</main>

{{!-- Footer With Timer and Logout --}}
<footer class="footer">
  <div class="clearfix">
    <a class="hollow button alert" href="/logout" id="logout">LOGOUT <i class="fas fa-sign-out-alt"></i></a>
    <div class="cell small-4" id="time"><strong>Time Elapsed: </strong></div>
  </div>
</footer>

<script src="./assets/js/home.js"></script>