<main class="flex" id="content">
    <div class="row">
        <div class="medium-8 columns">
            <br>
            <br>
            <br>
            <br>
            <p><strong> Welcome {{fullName}}, when you click a button the timer will start for your choice. Review your
                    stats
                    for each in your profile. </strong></p>
            <hr />
            <div class="row">
                <div class="column column-block">

                    <button class="button button-rounded-hover" id="b1"><i class="far fa-chart-bar"></i> WORK </button>
                </div>
                <div class="column column-block"></div>
                <button class="button button-rounded-hover" id="b2"><i class="fas fa-moon"></i> SLEEP </button>
            </div>
            <div class="column column-block">
                <button class="button button-rounded-hover" id="b3"><i class="fas fa-dice"></i> PLAY </button>
            </div>
            <div class="column column-block">
                <button class="button button-rounded-hover" id="b4"><i class="fas fa-hand-paper"></i> STOP TIME
                </button>
            </div>
            <svg viewBox="0 0 300 100" xmlns="http://www.w3.org/2000/svg" stroke="black" fill="white">
                <!-- <circle cx="50" cy="50" r="40" />
                <circle cx="150" cy="50" r="4" /> -->
                <svg viewBox="0 0 10 10" x="200" width="100">
                    <circle cx="5" cy="5" r="4" />
                </svg>
            </svg>
        </div>
    </div>
    </div>
</main>
<footer class="footer">
    <div class="clearfix">
        <a class="hollow button alert" href="/logout" id="logout">LOGOUT <i class="fas fa-sign-out-alt"></i></a>
        <div class="cell small-4" id="time"><strong>Time Elapsed: </strong></div>
    </div>
</footer>