{{!-- THIS IS A PLACEHOLDER FILE FOR NOW  --}}
{{!-- THIS IS A PLACEHOLDER FILE FOR NOW  --}}

{{> nav }}
<div id="index" class="container mt-5">
    <h6 class="form-title mt-3">SAMPLE H6 COPY IS HERE IN INDEX.HANDLEBAR FILE</h6>
    <div class="work-button">
      <button>Search</button>
    </div>
    <div class="sleep-button">
      <button>Search</button>
    </div>
        <div class="play-button">
      <button>Search</button>
    </div>
{{!-- will need to confirm css classes on these buttons once we're there --}}
{{!-- reminder for frontend team --}}
</div>