{{> nav }}
<div class="form-container">
  <form class="form-signin text-center">


    <form class="log-in-form">
      <h4 class="text-center">Log in with you email account</h4>
      <label>{{email}}
        <input type="email" id="email" placeholder="somebody@example.com">
      </label>
      <label>{{userPassword}}
        <input type="password" id="userPassword" placeholder="Password">
      </label>
      <button type=“submit” class=“button expanded” value=“Log in”></button>
      <p>WSP © 2020</p>
    </form>
</div>

<script src="/assets/js/login.js"></script>