{{> nav }}
<form class="callout text-center" id="log-in-form">
  <h1>Log In</h1>
  <div class="floated-label-wrapper">
    <label for="email">{{email-input}}</label>
    <input type="email" placeholder="Email" id="email-input">
  </div>
  <div class="floated-label-wrapper">
    <label for="userPassword">{{password-input}}</label>
    <input type="password" placeholder="Password" id="password-input">
  </div>
  <input class="button expanded" type="submit" value="Submit">
   <p>Not a member? Sign up <a href="/signup">here</a></p>
  <p>WSP © 2020</p>
</form>

<script src="./assets/js/login.js"></script>