{{> nav }}
<form class="callout text-center" id="log-in-form">

  {{!-- Header --}}
  <h1>Log In</h1>

  {{!-- Email Form Field --}}
  <div class="floated-label-wrapper">
    <label for="email">{{email-input}}</label>
    <input type="email" placeholder="Email" id="email-input">
  </div>

  {{!-- Password Form Field --}}
  <div class="floated-label-wrapper">
    <label for="userPassword">{{password-input}}</label>
    <input type="password" placeholder="Password" id="password-input">
  </div>

  {{!-- Submit Button --}}
  {{!-- <button type="submit" class="button expanded" value="Log in"></button> --}}
  <input class="button expanded" type="submit" value="Submit">

  {{!-- Footer --}}
   <p>Not a member? Sign up <a href="/signup">here</a></p>
  <p class="mt-5 mb-3 text-muted">WSP © 2020</p>
</form>

<script src="./assets/js/login.js"></script>