{{> nav }}
<div class="form-container">
  <form class="form-signin text-center" id="loginForm" action="/api/login" method="post">
    <h4 class="text-center">Log in with you email account</h4>
    <label>{{email}}
      <input type="email" placeholder="somebody@example.com" id="email">
    </label>
    <label>{{password}}
      <input type="password" placeholder="Password" id="password">
    </label>
    <button type="submit" class="button expanded" value="Log in"></button>
    <p>WSP © 2020</p>
  </form>
</div>

<script src="./assets/js/login.js"></script>