{{> nav }}
<body>
    {{!-- body not needed --}}
    <main class="profile-container">
        <div>
            <h1 class="work-feature-block-header row">User Profile</h2>
                <p> On this page, you can review your logs!</p>
        </div>
        <div class="work-feature-block row flex-container align-center">
            <div columns small-6>
                <div>
                    <img class="work-feature-block-image" src="https://placehold.it/200x200" />
                    <!-- WE NEED TO FIGURE OUT HOW TO GET THE PROFILE IMAGES TO BE SELECTED, OTHERWISE EVERYONE WILL HAVE THE SAME PROFILE PICTURE.....SHOOOOOOOOOT! -->
                </div>
            </div>
            <div columns small-6 class="work-feature-block-profile">
                <div row>
                    <h2>Profile Info</h2>
                    <ul>
                        <li>{{ fullName }}</li>
                        <li>{{ email }}</li>
                        <li>{{ age }}</li>
                    </ul>
                </div>
                <div row>
                    <h2>Activity</h2>
                    <li>{{ daysActive }}</li>
                    <!-- WE NEED THIS TO PULL FROM THE API I THINK? NOT SURE HOW TO MAKE THIS WORK -->
                </div>
            </div>
        </div>


        <h2 class="type-sidelines"><span></span></h2>
        <div row>
            <h2>Completed Activities</h2>
            <ul class="list-group">
                <li class="list-group-item">This is a result pulled from the DB <button class="button button-rounded-hover" id="delete-button" type="delete" name="delete"><i
                    class="fi-trash">DELETE</i></button>
                </li>
                <li class="list-group-item">This is a result pulled from the DB <button class="button button-rounded-hover" id="delete-button" type="delete" name="delete"><i
                    class="fi-trash">DELETE</i></button> 
                </li>

            </ul>

        </div>

    </main>

    <script src="./assets/js/profile.js"></script>


