{{> nav }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Sleep Play</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/stylesheets/style.css">
    <style>
        body {
            background-image: url("../public/assets/wsp\ background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <main class="profile-container">
        <div>
            <h1 class="work-feature-block-header row">User Profile</h2>
                <p> On this page, you can review your logs!</p>
        </div>
        <div class="work-feature-block row flex-container align-center">
            <div columns small-6>
                <div>
                    <img class="work-feature-block-image" src="https://placehold.it/200x200" />
                    <!-- WE NEED TO FIGURE OUT HOW TO GET THE PROFILE IMAGES TO BE SELECTED, OTHERWISE EVERYONE WILL HAVE THE SAME PROFILE PICTURE.....SHOOOOOOOOOT! -->
                </div>
            </div>
            <div columns small-6 class="work-feature-block-profile">
                <div row>
                    <h2>Profile Info</h2>
                    <ul>
                        <li>{{ fullName }}</li>
                        <li>{{ email }}</li>
                        <li>{{ age }}</li>
                    </ul>
                </div>
                <div row>
                    <h2>Activity</h2>
                    <li>{{ daysActive }}</li>
                    <!-- WE NEED THIS TO PULL FROM THE API I THINK? NOT SURE HOW TO MAKE THIS WORK -->
                </div>
            </div>
        </div>


        <h2 class="type-sidelines"><span></span></h2>
        <div row>
            <h2>Completed Activities</h2>
            <ul class="list-group">
                <li class="list-group-item">This is a result pulled from the DB <button class="button button-rounded-hover" id="delete-button" type="delete" name="delete"><i
                    class="fi-trash">DELETE</i></button>
                </li>
                <li class="list-group-item">This is a result pulled from the DB <button class="button button-rounded-hover" id="delete-button" type="delete" name="delete"><i
                    class="fi-trash">DELETE</i></button> 
                </li>

            </ul>

        </div>

    </main>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
    </script>
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script>

</body>

</html>