{{> nav }}
<div class="work-feature-block row">
  <div class="columns medium-7">
    <img class="work-feature-block-image" src="https://placehold.it/600x400"/>
{{!-- WE NEED TO FIGURE OUT HOW TO GET THE PROFILE IMAGES TO BE SELECTED, OTHERWISE EVERYONE WILL HAVE THE SAME PROFILE PICTURE.....SHOOOOOOOOOT!  --}}

  </div>
  <div class="columns medium-5">
    <h1 class="work-feature-block-header">User Profile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales diam ac hendrerit aliquet. Phasellus pretium libero vel molestie maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis est quam. Aenean blandit a urna laoreet tincidunt.</p>
    <h2>Project Details</h2>
    <ul>
      <li>{{ fullName }}</li>
      <li>{{ email }}</li>
    </ul>
  </div>
  <div>
      <h2>Activity</h2>
            <li>{{ daysActive }}</li>
     {{!-- WE NEED THIS TO PULL FROM THE API I THINK? NOT SURE HOW TO MAKE THIS WORK --}}
  </div>
</div>
<h2 class="type-sidelines custom-2"><span></span></h2>
<div>
    <h2>Completed Activities</h2>
    <ul class="list-group">
  <li class="list-group-item active">List Group Item 1 (Active)</li>
  <li class="list-group-item">List Group Item 2</li>
  <li class="list-group-item">List Group Item 3</li>
  <li class="list-group-item disabled">List Group Item 4 (Disabled)</li>
</ul>
</div>
