{{> nav }}
<main class="profile-container">

    {{!-- Header --}}
    <h2 class="work-feature-block-header row">My Profile</h2>
    <div class="work-feature-block row flex-container align-center">

        {{!-- Profile Picture --}}
        <div columns small-6>
            <div>
                <img class="work-feature-block-image" src="https://placehold.it/200x200" />
            </div>
        </div>

        {{!-- Profile Info Pulled From User Table In DB --}}
        <div columns small-6 class="work-feature-block-profile">
            <div row>
                <h3>Profile Info</h3>
                <ul>
                    <li>Full Name: {{ fullName }}</li>
                    <li>Email: {{ email }}</li>
                    <li>Age: {{ age }}</li>
                </ul>
            </div>

            {{!-- Days Active Pulled From User Table (createdDate) In DB and connected with Moment.js --}}
            <div row>
                <h3>Days Active</h3>
                <li>Days Active: {{ daysActive }}</li>
            </div>
        </div>
    </div>

    {{!-- Here we will bring in timer results for each action taken by the user --}}
    <div row>
        <h2>My Productivity</h2>
        <ul class="list-group">
            <li class="list-group-item">Work Result<button class="button button-rounded-hover" id="delete-button"
                    type="delete" name="delete"><i class="fi-trash">DELETE</i></button>
            </li>
            <li class="list-group-item">Sleep Result<button class="button button-rounded-hover" id="delete-button"
                    type="delete" name="delete"><i class="fi-trash">DELETE</i></button>
            </li>
            <li class="list-group-item">Play Result<button class="button button-rounded-hover" id="delete-button"
                    type="delete" name="delete"><i class="fi-trash">DELETE</i></button>
            </li>
        </ul>
    </div>
</main>

{{!-- Footer With Logout --}}
<footer class="footer">
    <div class="clearfix">
        <a class="hollow button alert" href="/logout" id="logout">LOGOUT <i class="fas fa-sign-out-alt"></i></a>
    </div>
</footer>

<script src="./assets/js/profile.js"></script>