{{> nav }}
<form class="callout text-center" action="/signup" method="post">
    <h1>Sign Up</h1>
    <div class="floated-label-wrapper">
        <label for="inputUsername">{{email-input}}</label>
        <input type="text" id="inputEmail" name="email-input" class="form-control p-4" placeholder="Email"
            required="" autofocus="">
    </div>

    <div class="floated-label-wrapper">
        <label for="inputPassword">
            {{password-input}}
        </label>
        <input type="password" id="pass" name="password-input" placeholder="Password" required="">
    </div>

    <div class="floated-label-wrapper">
        <label for="name-input">
            {{name-input}}
        </label>
        <input type="text" id="name-input" name="name-input" 
        placeholder="First and Last Name" required="">
    </div>

    <div class="floated-label-wrapper">
        <label for="age-input">
            {{age-input}}
        </label>
        <input type="text" id="age-input" name="age-input" 
        placeholder="How many years old are you" required="">
    </div>

    <input class="button expanded" type="submit" value="Sign up">
    <p>WSP © 2020</p>
</form>