{{> nav }}
<br>
<br>
<br>
<form class="callout text-center" id="formsignup">

    {{!-- Header --}}
    <h1>Sign Up</h1>

    {{!-- Email Form Field --}}
    <div class="floated-label-wrapper">
        <label for="email">{{email}}</label>
        <input type="text" id="email" name="email" class="form-control p-4" placeholder="Email">
    </div>

    {{!-- Password Form Field --}}
    <div class="floated-label-wrapper">
        <label for="userPassword">
            {{userPassword}}
        </label>
        <input type="password" id="userPassword" name="userPassword" placeholder="Password" required="">
    </div>

    {{!-- Full Name Form Field --}}
    <div class="floated-label-wrapper">
        <label for="fullName">
            {{fullName}}
        </label>
        <input type="text" id="fullName" name="fullName" placeholder="Full Name" required="">
    </div>

    {{!-- Age Form Field --}}
    <div class="floated-label-wrapper">
        <label for="age">
            {{age}}
        </label>
        <input type="text" id="age" name="age" placeholder="Age" required="">
    </div>

    {{!-- Submit Button --}}
    <input class="button expanded" type="submit" id="submit" value="Submit">

    {{!-- Footer --}}
    <p>Already a member? Log in <a href="/login">here</a></p>
    <p>WSP © 2020</p>
</form>

<script src="./assets/js/signup.js"></script>