{{> nav }}
      <br>
      <br>
      <br>
      <br>
<form class="callout text-center" id="form.signup" action="/api/signup" method="post">
    <h1>Sign Up</h1>
    <div class="floated-label-wrapper">
        <label for="email">{{email}}</label>
        <input type="text" id="email" name="email" class="form-control p-4" placeholder="Email" required=""
            autofocus="">
    </div>

    <div class="floated-label-wrapper">
        <label for="userPassword">
            {{userPassword}}
        </label>
        <input type="password" id="userPassword" name="userPassword" placeholder="Password" required="">
    </div>

    <div class="floated-label-wrapper">
        <label for="fullName">
            {{fullName}}
        </label>
        <input type="text" id="fullName" name="fullName" placeholder="First and Last Name" required="">
    </div>

    <div class="floated-label-wrapper">
        <label for="age">
            {{age}}
        </label>
        <input type="text" id="age" name="age" placeholder="How many years old are you" required="">
    </div>

    <input class="button expanded" type="submit" value="Sign up">
    <p>Or log in <a href="/login">here</a></p>
    <p>WSP © 2020</p>
</form>

<script src="./assets/js/signup.js"></script>