{{> nav }}
<form class="callout text-center" id="form.signup" action="/api/signup" method="post">
    <h1>Sign Up</h1>
    <div class="floated-label-wrapper">
        <label for="email">{{email}}</label>
        <input type="email" id="email" name="email" class="form-control p-4" placeholder="Email" required=""
            autofocus="">
    </div>
    <div class="floated-label-wrapper">
        <label for="userPassword">
            {{userPassword}}
        </label>
        <input type="password" id="userPassword" name="userPassword" placeholder="Password" required="">
    </div>
    <div class="floated-label-wrapper">
        <label for="fullName">
            {{fullName}}
        </label>
        <input type="text" id="fullName" name="fullName" placeholder="Full Name" required="">
    </div>
    <div class="floated-label-wrapper">
        <label for="age">
            {{age}}
        </label>
        <input type="number" id="age" name="age" placeholder="Age" required="">
    </div>
    <input class="button expanded" type="submit" value="Submit">
    <p>Already a member? Log in <a href="/login">here</a></p>
    <p>WSP © 2020</p>
</form>

<script scr="./assets/js/signup.js"></script>