<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Sleep Play</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/stylesheets/style.css">
    <style>
        body {
            background-image: url("../public/assets/wsp\ background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <main class="flex">
        <!-- {{> nav }} -->
        <div class="work-feature-block row">
            <div class="columns medium-7">
                <img class="work-feature-block-image" src="https://placehold.it/600x400" />
                <!-- {{!-- WE NEED TO FIGURE OUT HOW TO GET THE PROFILE IMAGES TO BE SELECTED, OTHERWISE EVERYONE WILL HAVE THE SAME PROFILE PICTURE.....SHOOOOOOOOOT!  --}} -->

            </div>
            <div class="columns medium-5">
                <h1 class="work-feature-block-header">User Profile</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales diam ac hendrerit aliquet.
                        Phasellus pretium libero vel molestie maximus. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Etiam quis est quam. Aenean blandit a urna laoreet tincidunt.</p>
                    <h2>Project Details</h2>
                    <ul>
                        <li>{{ firstName }} {{ lastName }}</li>
                        <li>{{ email }}</li>
                    </ul>
            </div>
            <div>
                <h2>Activity</h2>
                <li>{{ daysActive }}</li>
                {{!-- WE NEED THIS TO PULL FROM THE API I THINK? NOT SURE HOW TO MAKE THIS WORK --}}
            </div>
        </div>
        <!-- <h2 class="type-sidelines custom-2"><span></span></h2> -->
        <div>
            <h2>Completed Activities</h2>
            <ul class="list-group">
                <li class="list-group-item active">List Group Item 1 (Active)</li>
                <li class="list-group-item">List Group Item 2</li>
                <li class="list-group-item">List Group Item 3</li>
                <li class="list-group-item disabled">List Group Item 4 (Disabled)</li>
            </ul>
        </div>

        </div>

    </main>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
    </script>
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script>

</body>

</html>